<h1>Feed Page</h1>
<a href='/feeds/new'>New Feed</a>

<% @feeds.each do |f| %>
    <div style='border: 1px solid black; margin: 10px;'>
        <a href='/feeds/<%= f.id %>/edit'>Edit</a>
        <a href='/feeds/<%= f.id %>' data-method='DELETE'>Delete</a>
        <div>Title: <%= f.title %></div>
        <div>Content: <%= f.content %></div>
        <div>Email: <%= f.user.email %></div>
        <div>Name: <%= f.user.name%></div>
        <% f.feed_comments.each_with_index do |comment, i| %>
            <div style='border: 3px solid green; margin: 15px;'>
                <a href='/feeds/comments/<%= comment.id%>' data-method='DELETE'>Delete</a>
                <%= i+1 %>
                <%= comment.content %>
                <%= comment.user.email %>
                <%= comment.user.name %>
                <% comment.feed_replies.each_with_index do |reply, j| %>
                    <div style='border: 2px solid blue; margin: 15px;'>
                        <a href='/feeds/replies/<%= reply.id%>' data-method='DELETE'>Delete</a>
                        <%= j+1 %>
                        <%= reply.content %><br>
                    </div>    
                <% end %>
                <form action='/feeds/<%= comment.id%>/reply_create' method='POST'>
                    Reply: <input type="text" name="content">
                    <button class="btn btn-default" type="submit">Reply</button>
                </form>
            </div>
        <% end %>

        <form action='/feeds/<%= f.id%>/comment_create' method='POST'>
            Comment: <input type="text" name="content">
            <button class="btn btn-default" type="submit">Comment</button>
        </form>
    </div>
<% end %>
