
<% @feeds.each do |f| %>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp with-margin inline-block vert-top">
        <div class="mdl-card__title no-top-bottom-padding">
            <ul class="demo-list-two mdl-list full-width no-padding no-margin">
            <li class="mdl-list__item mdl-list__item--two-line no-padding no-margin">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">person</i>
                <span><%= f.user.name%></span>
                <span class="mdl-list__item-sub-title"><%= f.created_at.strftime("%Y-%m-%d") %></span>
                </span>
                <% if current_user != f.user %>
                    <% if current_user.followees.include? f.user %>
                        <a class="mdl-list__item-secondary-action" href="/feeds/<%= f.id%>/follow"><i class="material-icons">person_add</i></a>
                    <% else %>
                        <a class="mdl-list__item-secondary-action mdl-color-text--grey-500" href="/feeds/<%= f.id%>/follow"><i class="material-icons">person_add</i></a>
                    <% end %>
                    <% if f.liking_users.include? current_user %>
                        <a class="mdl-list__item-secondary-action with-left-margin" href="/feeds/<%= f.id %>/like"><i class="material-icons">favorite</i></a>
                    <% else %>
                        <a class="mdl-list__item-secondary-action with-left-margin" href="/feeds/<%= f.id %>/like"><i class="material-icons">favorite_border</i></a>
                    <% end %>
                <% else %>
                    <a class="mdl-list__item-secondary-action mdl-color-text--grey-500" href="/feeds/<%= f.id%>/edit"><i class="material-icons">create</i></a>
                    <a class="mdl-list__item-secondary-action mdl-color-text--grey-500 with-left-margin" href="/feeds/<%= f.id%>" data-method='DELETE'><i class="material-icons">delete</i></a>
                <% end %>
                
            </li>
            </ul>
        </div>
    <div class="mdl-card__supporting-text">
        <div class="highlight"><%= f.title%></div>
        <div><%= f.content%></div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="btn-more-comment mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            View More Comments
        </a>
            
        <% f.feed_comments.each_with_index do |c, i| %>
            <ul class="demo-list-three mdl-list no-padding no-margin">
                <% if i==0 %>
                    <li class="mdl-list__item mdl-list__item--three-line comment newest-comment">
                <% else %>
                    <li class="mdl-list__item mdl-list__item--three-line comment" style="display:none;">
                <% end %>
                    <span class="mdl-list__item-primary-content">
                    <%= c.user.name %>
                    <span class="mdl-list__item-text-body no-padding"><%= c.content%></span>
                    </span>
                    <% if c.user == current_user%>
                        <a class="mdl-list__item-secondary-action with-left-margin" href="#"><i class="material-icons">create</i></a>
                        <a class="mdl-list__item-secondary-action with-left-margin" href="/feeds/comments/<%= c.id%>" data-method='DELETE'><i class="material-icons">delete</i></a>
                    <% else %>
                        <% if c.liking_feed_comment_users.include? current_user %>
                            <a class="mdl-list__item-secondary-action with-left-margin" href="/feeds/comments/<%= c.id%>/like"><i class="material-icons">favorite</i></a>
                        <% else %>
                            <a class="mdl-list__item-secondary-action with-left-margin" href="/feeds/comments/<%= c.id%>/like"><i class="material-icons">favorite_border</i></a>
                        <% end %>
                    <% end %>
                </li>
            </ul>
        <% end %>

        <form action="/feeds/<%= f.id%>/comment_create" method='POST'>
            <span class="mdl-textfield mdl-js-textfield comment-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1" name="content">
            </span>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored float-right">Comment</button>
        </form>
    </div>
    </div>
<% end %>


<a href='/feeds/new'>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bottom-button">
    <i class="material-icons">add</i>
    </button>
</a>

<script type='text/javascript'>
  # 댓글 숨기기가 클릭되면 보이던 댓글이 숨겨진다.
  # var btn = document.getElementById("more-comment-btn-1")
  # 댓글 더보기가 클릭되면 

  # btn.addEventListener('click', function() {
  #    클릭이 되었을 때 당시의 텍스트를 바로 가져온다.
  #    var btnText = btn.text

  #   버튼 텍스트가 댓글 더보기이면
  #   if (btnText == '댓글 더보기') {
  #      숨겨진 댓글이 보인다.
  #     btn.text = '댓글 숨기기'
  #     document.querySelectorAll('.old-comment-1')
  #       .forEach(function(comment) {
  #         comment.style.display = 'block';
  #       })
  #      댓글 더보기 버튼의 텍스트를 댓글 숨기기로 바꾼다.
  #   } else {
  #     숨겨진 댓글을 보여준다.
  #     btn.text = '댓글 더보기'
  #     document.querySelectorAll('.old-comment-1') 
  #       .forEach(function(comment) {
  #         comment.style.display = 'none';
  #       })
  #     }
  #   })

  $(document).ready(function(){
    $(".btn-more-comment").on('click', function(){
      $(this).toggleClass("hiding-comment"); #toggleClass가 "hiding-comment"라는 class를 있으면 빼주고 없으면 넣어주는 메소드.
      if($(this).hasClass("hiding-comment")) {
        //같은 계층의 애들 중에 ul element만 찾아라. #.넣어서 쓰는건 class, 없는건 element. 
        $(this).siblings("ul").find(".comment").not(".newest-comment").show() #find는 하위계층에서 찾아줌. //맨 첫 댓글인 newest comment만 제외
        //contents는 하위계층에 있는 것을 다 보여줌, 그 중 0번째 (첫번째) content인 '댓글 더보기' 가져옴
        $(this).contents().get(0).nodeValue = "댓글 숨기기";
      } else {
        $(this).siblings("ul").find(".comment").not(".newest-comment").hide()
        $(this).contents().get(0).nodeValue = "댓글 더보기";
      }
    });
  });
</script>
      

