<h1>events page</h1>
<a href='/events/new'>Click here to create new event</a>

<% @events.each do |e| %>
	<div style='border: 1px solid black; margin: 10px;'>
        <a href='/events/<%= e.id %>'/edit>Update</a>
		<a href='/events/<%= e.id %>' data-method='DELETE'>Delete</a>
		<div><%= e.datetime %></div>
		<div><%= e.title %></div>
        <div><%= e.user.email %></div>
        <div><%= e.user.name%></div>
        <% e.event_comments.each_with_index do |comment, i| %>
            <div style='border: 3px solid green; margin: 15px;'>
                <a href='/events/comments/<%= comment.id%>' data-method='DELETE'>Delete</a>
                <%= i+1%>.
                <%= comment.content %>
                <%= comment.user.email %>
                <%= comment.user.name %>
                <% comment.event_replies.each_with_index do |reply, j| %>
                    <div style='border: 2px solid blue; margin: 15px;'>
                        <a href='/events/replies/<%= reply.id%>' data-method='DELETE'>Delete</a>
                        <%= j+1%>
                        <%= reply.content %>
                    </div>
                <% end %>
                <form action='/events/<%= comment.id%>/reply_create' method='POST'>
                    Reply: <input type="text" name="content">
                    <button type="submit">Reply</button>
                </form>
            </div>
        <% end %>

        <form action='/events/<%= e.id%>/comment_create' method='POST'>
            Comment: <input type="text" name="content">
            <button type="submit">Comment</button>
        </form>
    </div>
<% end %>
